* {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 100%;
  font-weight: normal;
}
@mixin reference($decoration,$size,$weight,$color) {
  text-decoration: $decoration;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin justify-content($pos1) {
  -webkit-justify-content: $pos1;
  -ms-flex-pack: $pos1;
  justify-content: $pos1;
}
@mixin align-items($pos3) {
  -webkit-align-items: $pos3;
  -ms-flex-align: $pos3;
  align-items: $pos3;
}
@mixin block($width,$height,$borderWidth,$borderStyle,$borderColor,$borderRadius) {
  width: $width;
  height: $height;
  border-width: $borderWidth;
  border-style: $borderStyle;
  border-color: $borderColor;
  border-radius: $borderRadius;
}
header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include justify-content(center);
  @include align-items(center);
  @include block(100%, 15vh, 0px, solid, green, 0);
  background-color: orange;
    h1 {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      @include justify-content(center);
      @include align-items(center);
      @include block(100%, 100%, 0px, solid, green, 0);
      font-size: 2em;
      font-weight: bold;
      color: green;
    }
}
.mainWindow {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(flex-start);
  @include block(95%, 80vh, 1px, solid, green, 0);
  background-color: white;
  #leftBar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(center);
    @include block(20%, auto, 1px, solid, green, 0);
    background-color: white;
    .menu {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(center);
      @include block(100%, 100%, 0px, solid, green, 0);
      .menuBtn {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        @include justify-content(center);
        @include align-items(center);
        @include block(98%, 5vh, 1px, solid, green, 0);
        background-color: lightgreen;
      }
    }
  }

  .centerAct {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(center);
    @include block(80%, 80vh, 1px, solid, green, 0);
    background-color: white;
  }
  .center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(center);
    @include block(80%, 80vh, 1px, solid, green, 0);
    background-color: white;
  }
  .login{
    position: absolute;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include block(30%, 20vh, 1px, solid, green, 0);
    background-color: green;
    transform: translateY(20vh);
    .loginForm {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      @include block(100%, 100%, 0px, solid, green, 0);
      label {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
        @include block(90%, auto, 0, solid, black, 0);
      }
      .LogBtn {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        @include justify-content(center);
        @include align-items(center);
        @include block(60%, auto, 0, solid, black, 5px);
        background-color: lightgreen;
        color: black;
        margin-top: 5%;
      }
    }
  }
}
